.calculator-body {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* This aligns horizontally */
    align-items: center; /* This aligns vertically */
    height: 800px;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    min-width: 500px;
    overflow: hidden; /* This will keep the elements from overflowing for the display if we have a very long equation. */
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys {
    display: grid;
    /* The repeat function will repeat the process for each row.
    The 4 represents the number of columns per row.
    1fr is the spacing between the columns to arrange them evenly.
    fr stands for fractional unit
    1fr indicates that each column should take up an even amount of space.*/
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* This is the gap between each of the rows. */
    padding: 25px; /* This is the padding around the keys.*/
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer; /* This makes it so that your cursor will become a pointer when you hover over the button. */
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

/* .back-arrow {
    font-size: 60px;
} */

.delete-btn img {
    padding-right: 10px;
    padding-top: 10px;
}

.color-btn {
    background-color: hsl(180, 100%, 55%);
}

.color-btn:hover {
    background-color: hsl(180, 100%, 65%);
}

.color-btn:active {
    background-color: hsl(180, 100%, 75%);
}

.display-color-btn {
    background-color: hsl(108, 77%, 55%);
    padding-top: 10px;
}

.display-color-btn:hover {
    background-color: hsl(108, 77%, 65%);
}

.display-color-btn:active {
    background-color: hsl(108, 77%, 75%);
}

.display-color-btn img {
    width: 70px;
    height: 70px;
}

.reset-btn {
    background-color: hsl(6, 89%, 55%);
    padding-top: 10px;
}

.reset-btn:hover {
    background-color: hsl(6, 89%, 65%);
}

.reset-btn:active {
    background-color: hsl(6, 89%, 75%);
}

.equal-btn {
    background-color: hsl(145, 81%, 55%);
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 10px;
}

.equal-btn:hover {
    background-color: hsl(145, 81%, 65%);
}

.equal-btn:active {
    background-color: hsl(145, 81%, 75%);
}

.divide-btn {
    background-color: hsl(202, 81%, 55%);
    padding-top: 10px;
}

.divide-btn:hover {
    background-color: hsl(202, 81%, 65%);
}

.divide-btn:active {
    background-color: hsl(202, 81%, 75%);
}

.multiply-btn {
    background-color: hsl(163, 61%, 78%);
    padding-top: 10px;
}

.multiply-btn:hover {
    background-color: hsl(163, 61%, 88%);
}

.multiply-btn:active {
    background-color: hsl(163, 61%, 98%);
}

.minus-btn {
    background-color: hsl(204, 56%, 31%);
    padding-top: 10px;
}

.minus-btn:hover {
    background-color: hsl(204, 56%, 41%);
}

.minus-btn:active {
    background-color: hsl(204, 56%, 51%);
}
.plus-btn {
    background-color: hsl(77, 78%, 55%);
    padding-top: 10px;
}

.plus-btn:hover {
    background-color: hsl(77, 78%, 65%);
}

.plus-btn:active {
    background-color: hsl(77, 78%, 75%);
}


li {
    list-style: square;
}

.sources {
    display: flex;
    justify-content: center;
    align-items: center;
}